<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form card login with validation feedback -->
            <div class="card">
                <div class="card-header">
                    <h3	class="mb-0">Whishlist</h3>
                </div>
                <div class="card-body">
                   <app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>
                </div>
            </div>
        </div>
    </div>
    <hr	class="mb-5">
    <div class="row row-flex">
            <app-destino-viaje 
                    appEspiame
                    [destino]="destino"
                    [idx]="i + 1"
                    (clicked)="elegido($event)"
                    *ngFor="let destino of all;index as i">
            </app-destino-viaje>
    </div>

    <hr	class="mb-5">
    <h5>Actividad</h5>
    <div class="row">
        <ul>
            <li *ngFor="let up of updates">{{up}}</li>
        </ul>
</div>
</div>
