<div class="page-header">

  <div style="float: right;">
    <select (change)="translate.use($event.target.value)">
      <option value="es">Spanish</option>
      <option value="fr">France</option>
      <option value="en">English</option>
    </select>
  </div>

  <div class="container">
    <h1>Ruteo Simple</h1>
    <div class="navLinks">
      <a [routerLink]="'/home'">Home</a>
    </div>
  </div>
  <div class="container content">
    <div class="row">
      <h1>
        {{title}} <b [innerHtml]="'HOLA' | translate"></b>
      </h1>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
fecha: {{ time | async }}