<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span><h4>{{position}}</h4></span>
    </div>
    <div class="card-desc">
        <h3 *ngIf="destino.nombre">{{destino.nombre}}</h3>
        <p>Servicios</p>
        <ul>
            <li *ngFor="let servicio of destino.servicios">
                <span [ngSwitch]="servicio">
                    <i *ngSwitchCase="'desayuno'" style="color: red;">{{servicio}}</i>
                    <i *ngSwitchDefault>{{servicio}}</i>
                </span>
            </li>
        </ul>
        <span *ngIf="destino.isSelected()" class="preferido">
            <span ngNonBindable>PREFERIDO</span>
        </span>	
        <div class="votes">
            <a href="#" class="btn-card" (click)="ir()" appTrackearClick data-tracker-tags="destino_elegir_preferido lista_destinos_items">preferido!</a>
            <a [routerLink]="['/destino',8]">Ver Detalle...</a>
            <div class="vote-link">
                <a href="#" (click)="voteUp()" appTrackearClick data-tracker-tags="destino_vote_up lista_destinos_items"><i class="material-icons md-18">thumb_up</i></a>
                <a href="#" (click)="voteDown()"><i class="material-icons md-18">thumb_down</i></a>
                {{destino.votes}}
                <a href="#" (click)="voteReset()"><i class="material-icons md-18">restore</i></a>
            </div>
        </div>	
    </div>
</div>