<p>
    Aqui vemos el detalle de un destino de un un viaje!
    <br>
    {{ destino.nombre }}
</p>
<hr>
<mgl-map [style]="style" [zoom]="[2]">
    <mgl-marker [lngLat]="[-75.551012, 10.421185]">
        <div class="marker" onclick="alert('hola')">
            hola mundo
        </div>
    </mgl-marker>
</mgl-map>
