<p>reservas-listado works!</p>
<a [routerLink]="['./',10]">Ir al detalle</a>
<a [routerLink]="['/login']">Ir al login</a>

<div *ngFor="let item of reservasApiClientService.getAll()">
    {{item.id}} - {{item.name}}
</div>
